.p-menu {
    @include sp {
		position: fixed;
		top: 0;
		right: $sp-menu-width / $sp-standard * 100% * -1;
		bottom: 0;
        width: $sp-menu-width / $sp-standard * 100%;
        background: rgba(255, 255, 255, 0.95);
        overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		transition: all $transition-speed;
		z-index: 1;
		opacity: 0;
        .open & {
            right: 0;
            opacity: 1;
        }
    }
}

.p-copy {
    position: absolute;
    top: 360px;
    left: 138px;
    @include tab {
        top: 360 / $tab-standard * 100vw;
        left: 138 / $tab-standard * 100vw;
    }
    @include sp {
        top: 169px;
        left: 18px;
    }
}

.p-about-article {
    width: $pc-article-width * 1px;
    margin-top: 152px;
    @include tab {
        width: $pc-article-width / $tab-responsive * 100%;
        margin-top: 103px;
    }
    @include sp {
        width: $sp-article-width / $sp-standard * 100%;
    }
}

.p-about-text {
    width: 409 / $pc-article-width * 100%;
    padding-top: 72px;
    padding-left: 68px;
    padding-right: 69px;
    padding-bottom: 76px;
    border: solid 1px $palette-light-gray;
    @include tab {
        padding-left: 68 / $pc-article-width * 100%;
        padding-right: 68 / $pc-article-width * 100%;
    }
    @include sp {
        border: none;
        padding-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 44px;
        width: 100%;
    }
}

.p-skill-article {
    width: $pc-article-width * 1px;
    margin-top: 147px;
    margin-bottom: 67px;
    @include tab {
        width: $pc-article-width / $tab-responsive * 100%;
        margin-top: 127px;
        margin-bottom: 0px;
    }
    @include sp {
        width: $sp-article-width / $sp-standard * 100%;
    }
}

.p-skill-list {
    margin-top: 21px;
    @include tab {
        margin-top: 30px;
    }
}

.p-works-article {
    width: 100%;
    background-color: $palette-gray;
}

.p-works-title {
    width: $pc-article-width * 1px;
    margin-top: 134px;
    @include tab {
        width: $pc-article-width / $tab-responsive * 100%;
        margin-top: 85px;
    }
    @include sp {
        width: $sp-article-width / $sp-standard * 100%;
    }
}

.p-works-list {
    margin-top: 60px;
    width: $pc-article-width * 1px;
    margin-bottom: 151.7px;
    @include tab {
        margin-top: 43px;
        width: $pc-article-width / $tab-responsive * 100%;
        margin-bottom: 94px;
    }
    @include sp {
        width: $sp-article-width / $sp-standard * 100%;
    }
}

.p-works-page {
    width: 324 / $pc-article-width * 100%;
    @include sp {
        width: 165 / $sp-article-width * 100%;
        margin-top: 19.5px;
        &:nth-child(-n+2){
            margin-top: 0;
        }
    }
}

.p-forth-works {
    display: none;
    @include sp {
        display: block;
    }
}

.p-contact-article {
    width: $pc-article-width * 1px;
    margin-bottom: 276.6px;
    @include tab {
        width: $pc-article-width / $tab-responsive * 100%;
        margin-bottom: 81px;
    }
    @include sp {
        width: $sp-article-width / $sp-standard * 100%;
    }
}

.p-contact-title {
    margin-top: 150px;
    @include tab {
        margin-top: 93px;
    }
}

.p-contact-map {
    margin-top: 89px;
    @include sp {
        margin-top: 52px;
    }
}

.p-contact-text {
    margin-top: 146px;
    padding-left: 138 / $pc-article-width * 100%;
    padding-right: 138 / $pc-article-width * 100%;
    @include tab {
        margin-top: 33px;
    }
    @include sp {
        padding-left: 0;
        padding-right: 0;
    }
}

.p-article {
    width: 100%;
    background-color: $palette-gray;
    &.information {
        padding-top: 30px;
    }
}

