.u-article-width {
    width: $pc-article-width * 1px;
    @include tab {
        width: $pc-article-width / $tab-responsive * 100%;
    }
    @include sp {
        width: $sp-article-width / $sp-standard * 100%;
    }    
}
